<footer class="row">
  <div class="large-12 columns"><hr>
    <div class="row">
      <div class="large-6 columns">
        <p>
          <a href="http://www.webcomic.com.br">Comic Headquarters</a>
          © <%= __('Copyright 2015') %>
        </p>
      </div>

      <div class="large-6 small-12 columns">
        <ul class="inline-list right">
          <li><a href="#"><%= __('Termos de uso') %></a></li>
          <li><a href="https://github.com/paulodiovani/comic-hq-sails">
            <i class="fa fa-github"></i>
            <%= __('Contribua') %></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>
