<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">

      <li class="name">
        <h1>
          <a href="#">
            <%= __('Comic Headquarters') %>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#"><%= __('Dashboard') %></a></li>
        <li><a href="#"><%= __('Minhas assinaturas') %></a></li>
        <li class="divider"></li>
        <li><a href="#"><%= __('Logout') %></a></li>
      </ul>
    </section>
  </nav>
</div>
