<h1>Novidades <small>webcomics mais recentes</small></h1>

<div class="previews">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
  </ul>
</div>


<h1>Populares <small>webcomics mais lidos</small></h1>
<div class="previews">
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
    <li><a href="#" class="th" role="button" aria-label="Thumbnail">
      <img data-interchange="
        [http://placekitten.com/g/640/240, (small)],
        [http://placekitten.com/g/480/512, (medium)],
        [http://placekitten.com/g/320/480, (large)]
      " alt="" aria-hidden="true">
    </a></li>
  </ul>
</div>
